.App {
  display: grid;
  grid-template-rows: 15% 20% 65%;
  height: 100vh;
  text-align: center;
  width: 100vw;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.date-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.date {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.filter {
  display: grid;
  grid-template-rows: 25% 50%;
}

.filter-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  background-color: lightblue;
  border-bottom: 1px solid #333;
}

h1 {
  color: #fff;
  font-size: 2em;
  margin-top: 1.5em;
}

h3 {
  font-size: 1.5em;
  margin: 10px;
}

/* input {
  margin: 10px;
} */

.input-cont {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.input-cont label{
  margin-right: 10px;
}

.date label {
  margin: 7px 0px;
}

.main {
 /* margin-bottom: 20px; */
}

/* .msg {
  align-items: center;
  border-top: 1px solid #333;
  display: flex;
  justify-content: flex-start;
} */

.msg-cont {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 52vh;
  justify-content: flex-start;
  margin-top: 4%;
  overflow-y: scroll;
  width: 100%;
}

.send {
  display: grid;
  grid-template-rows: 25% 50%;
}

.sendbtn-box {
  align-items: center;
  display: flex;
  justify-content: center;
}
